

.cardGroupContainer {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    max-width: 80vw;
    scrollbar-color: purple rgb(26, 1, 73);
}


h2 {
    font-weight:700;
    margin-bottom: 2vw;
}

