.star-wars-logo {
    width: 8vw;
    height: 4vw;
    object-fit: cover;
}


.navbar {
    background-image: url("../img/starwars-background.JPG");
    width: 100vw;
    /* border: solid purple 1px; */
    
}

.favorites-button {
    margin-right: 10vw;
}



