.logo {
    width: 20vw;
    height: 8vw;
    object-fit: cover;
}


.navbar {
    background-image: url("../img/teahub.io-cat-wallpaper-47064-editado.JPG");
    background-size: cover;
    
    /* border: solid purple 1px; */
    
}

.favorites-button {
    margin-right: 10vw;
}



